<%= form_for @invite, :html => {:class => "forms"} do |f| %>
  <h1> Invite Your Friends </h1>

  <%= f.label :Player%>
  <%= f.collection_select :invited_id, Player.all_but_me(cur_player), :id, :name, prompt: true %>

  <%= f.label :Select_Game %>
  <%= f.collection_select :game_id, Player.games_im_in(cur_player), :id, :title, prompt: true %>
  
  <%= f.submit %><%= link_to 'Join a Game', games_path %>

<%end%>
