<h1> Create a Game </h1>

<%= form_for @game, url: {action: "create"} do |f| %>

  <%= f.label :game_title%>
  <%= f.text_field :title %>

  <%= f.label :location%>
  <%= f.text_field :location %>

  <%= f.label :date %>
  <%= datetime_select("game", "time", ampm: true, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, start_year: Date.today.year, end_year: Date.today.year + 1) %>

  <%= f.submit%>

<%end%>
