<div class='your-game'>
  <div class='game-background'>
    <h1>Title: <%=@game.title%></h1>
    <h3>Location: <%=@game.location%></h3>
    <h3>Time: <%=@game.time%></h3>

    <div>
      <h3> Players in Game </h3>
      <div class='players'>
        <%@game.players.each do |player|%>
        <h4> <%= player.name %> </h4>
        <% end %>
      </div>
    </div>
    <%= link_to "View Other Games", games_path %>
    <%= button_to "Join game", action: "join_game", controller: "games" %>
  </div>
</div>
