<h1> Create a Game!! </h1>

<%= form_for @game  do |f| %>
  <%= f.label :game_title%>
  <%= f.text_field :title %>

  <%= f.label :location%>
  <%= f.text_field :location %>

  <%= f.label :time%>
  <%= f.text_field :time %>

  <%= f.submit%>

<%end%>
