<h1>Welcome to Dimes!! Create A Profile</h1>

<%= form_for @player do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :Describe_Your_Game %>
  <%= f.text_area :bio %>

<%= f.submit %>

<% end %>
