<%= form_for(@player, :html => {:class => 'forms'}) do |f|%>
  <h1>Welcome to Dimes!! Create A Profile</h1>
    <%= f.label("Name") %>
    <%= f.text_field :name %>

    <%= f.label("Email") %>
    <%= f.text_field :email %>

    <%= f.label("Username") %>
    <%= f.text_field :username %>

    <%= f.label("Password") %>
    <%= f.password_field :password %>

    <%= f.label("Password Confirmation") %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :Describe_Your_Game %>
    <%= f.text_area :bio %>

  <%= f.submit %>

<% end %>
