<h1>Your Profile Page</h1>
<%byebug %>
<h1><%= @player.name %></h1>

<h2><%= @player.username %></h2>
<p><%= @player.bio %></p>

<h2><%= link_to "All Available Games", games_path %></h2>
<h2><%= link_to "Create a game", new_game_path %></h2>
