<div class='player-page'>

  <h1><%= @player.name %>'s Profile</h1>
  <h4><u><%= link_to "Invite Friends To Play", new_invite_path %></u></h4>
  <h4><u><%= link_to "All Available Games", games_path %></u></h4>
  <h4><u><%= link_to "Create a game", new_game_path %></u></h4>





  <h3>Username: <%= @player.username %></h3>
  <h3>My game is: <%= @player.bio %></h3>

  <div id='game-menu'>
    <div id='invites-to-games' class='game-items-homepage'>
      <h3><u> Invites to games</u> </h3>

      <% Player.cur_invites(@player).each do |invite| %>

        <%if invite.responded == false %>
        <div class='game-objs'>
          <h5>Game title: <%= link_to Game.find_game_from_invite(invite).title,  game_path(Game.find_game_from_invite(invite))%></h5>
          <%=  button_to "Accept", rsvp_path(invite.id, "accept") %>
          <%=  button_to "Decline", rsvp_path(invite.id, "decline") %>
        <%end %>
        </div>
      <%end %>
    </div>

    <div id='upcoming-games' class='game-items-homepage'>
      <h3><u> Upcoming games</u></h3>
      
      <% Player.games_im_in(@player).each do |game| %>
      <div class='game-objs'>
        <h5><%= link_to game.title, game_path %></h5>
        <h5><%= game.time %></h5>
      </div>
      <%end %>
    </div>

    <div id='past-games' class='game-items-homepage'>
      <h3><u> Past Games</u> </h3>

      <% @player.games.where("time < ?", DateTime.now).each do |game| %>
      <div class='game-objs'>
        <h5><%= game.title %></h5>
        <h5><%= game.time %></h5>
      </div>
      <%end %>
    </div>

  </div>

</div>




