<%= form_tag({:controller => 'login', :action => 'create'}, :class => 'forms') do %>


  <h1>Login</h1>

  <%= label_tag("Username") %>
  <div class="field">
    <div class="ui icon input">
      <i class="user icon"></i>
    <%= text_field_tag("username") %>
    </div>
  </div>

  <%= label_tag("Password") %>
  <div class="field">
    <div class="ui icon input">
      <i class="lock icon"></i>
    <%= password_field_tag("password") %>
    </div>
  </div>

  <div>Test</div>

  <%= submit_tag("Login") %>
  
  </form>
<%end %>
        
