<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div id='navbarOptions'>
      <h2>Dimes</h2>
      <% if cur_player %>
      <div class='nav'>
        <h4>Welcome Baller <%= cur_player.name %>!!!</h4>
        <h4><%= link_to "Home Page", player_path(cur_player) %> </h4>
        <h4><%= link_to "Logout", logout_path, {:method => :delete, :class => "item"} %> </h4>
      </div>

      <% else %>
      <div class='nav'>
        <h4><%= link_to("Login", login_path) %></h4>
        <h4><%= link_to("Signup", new_player_path) %></h4>
      </div>
      <% end %>
    </div>

    <% if flash[:error] %>
      <h4 style="color: red; position: absolute;"> <%= flash[:error] %></h4>
    <% elsif flash[:notice] %>
      <h4 style="color: green; position: absolute;"><%= flash[:notice] %></h4>
    <%end %>

    <% flash[:error] = flash[:notice] = nil %>

    <%= yield %>

  </body>



</html>
