<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">


    <div class="ui secondary pointing menu">
      <% if cur_player %>
      <a class="item"> <%= link_to "Logout", logout_path, {:method => :delete, :class => "item"} %> </a>
      <a class="item">  <%= link_to "Player Home Page", player_path(cur_player) %> </a>
      <a class="item">Welcome Baller <%= cur_player.name %>!!!</a>
      <% else %>
        <%= link_to("Login", login_path) %>  |
        <%= link_to("Signup", new_player_path) %>
      <% end %>

    </div>

    <% if flash[:error] %>
      <p style="color: red">
        <%= flash[:error] %>
      </p>
    <% elsif flash[:notice] %>
      <p style="color: green">
        <%= flash[:notice] %></p>
    <%end %>

    <div class="ui middle aligned center aligned grid">
      <div class="ten wide column">


    <%= yield %>

      </div>
    </div>
  </body>



</html>
