<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if cur_player %>
        <%= link_to "Logout", logout_path, method: :delete %> <br>
        <%= link_to "Player Home Page", player_path(cur_player) %>
        <p>Welcome Baller <%= cur_player.name %>!!!</p>
      <% else %>
        <%= link_to("Login", login_path) %>  |
        <%= link_to("Signup", new_player_path) %>
      <% end %>
    </nav>

    <% if flash[:error] %>
      <p style="color: red">
        <%= flash[:error] %>
      </p>
    <% elsif flash[:notice] %>
      <p style="color: green">
        <%= flash[:notice] %></p>
    <%end %>


    <%= yield %>
  </body>



</html>
