<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id='navbarOptions'>
    <a href='#' class="navbar-brand">Dimes</a>
        <% if cur_player %>
        <div class='nav'>
        <a class="nav-item nav-link">Welcome Baller <%= cur_player.name %>!!!</a>
        <a class="nav-item nav-link"> <%= link_to "Logout", logout_path, {:method => :delete, :class => "item"} %> </a>
        <a class="nav-item nav-link">  <%= link_to "Player Home Page", player_path(cur_player) %> </a>
        </div>

        <% else %>
        <div class='nav'>
          <%= link_to("Login", login_path) %>  |
          <%= link_to("Signup", new_player_path) %>
        </div>
        <% end %>
        </div>
  </nav>

  <body>

    <% if flash[:error] %>
      <p style="color: red">
        <%= flash[:error] %>
      </p>
    <% elsif flash[:notice] %>
      <p style="color: green">
        <%= flash[:notice] %></p>
    <%end %>

    <%= yield %>

  </body>



</html>
