<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <div id='navbarOptions'>
    <h4>Dimes</h4>
    <% if cur_player %>
    <div class='nav'>
      <h4>Welcome Baller <%= cur_player.name %>!!!</h4>
      <h4><%= link_to "Home Page", player_path(cur_player) %> </h4>
      <h4><%= link_to "Logout", logout_path, {:method => :delete, :class => "item"} %> </h4>
    </div>

    <% else %>
    <div class='nav'>
      <%= link_to("Login", login_path) %>  |
      <%= link_to("Signup", new_player_path) %>
    </div>
    <% end %>
  </div>


  <body>
    <% if flash[:error] %>
      <h4 style="color: red"> <%= flash[:error] %></h4>
    <% elsif flash[:notice] %>
      <h4 style="color: green"><%= flash[:notice] %></h4>
    <% else %>
      <% nil %>
    <%end %>

    <%= yield %>

  </body>



</html>
